k8s-monitoring/email-secret.yaml
k8s-monitoring/alertmanager-config.yaml
**/email-secret.yaml
*.secret.yaml

cosign.key
*.key
aws-creds.yaml
secret-store.yaml.local

.vscode/
.idea/

.DS_Store

RUN-GUIDE.md
notes.md
